body {
    Background-color: #e9e9e7;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

input[type=text] {
    border: none;
    border-radius: 8px;
    font-size: 24px;
}

canvas {
    display: block;
}

p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    color: black;
}

button {
    margin-top: 10px;
    position: absolute;
    bottom: -100px;
    left: 50%;
    transform: translateX(-50%);
}

.info-value {
    font-weight: bold;
}

/* Styles for the modal */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(66, 66, 65, 0.8);
    z-index: 9999;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #1adf24;
    padding: 60px;
    text-align: center;
}

.info-box {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    pointer-events: none;
    z-index: -999;
}

.button-general {
    margin-right: 80px;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    background-color: #1adf24;
    color: #000000;
    border-radius: 10px;
    transition-duration: 0.4s;

    width: 220px;
    height: 50px;
}

#fullScreenButton {
    margin-bottom: 20px;
}

#startButton {
    margin-bottom: -30px;
}

#breakCount {
    color: red;
}

#downloadDataButton {
    width: 300px;
    height: 80px;
}

#info-container {
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    z-index: -999;
}

@media (min-width: 851px) {
    p {
        font-size: 1.7em;
    }

    .info-box {
        position: absolute;
        font-size: 0.95em;
    }

    #finishedTrialsLabel {
        top: 10px;
        right: 295px;
    }

    #blocksLabel {
        top: 10px;
        right: 102px;
    }

    #totalTrialsLabel {
        top: 30px;
        right: 170px;
    }

    #trialsToBreakLabel {
        top: 10px;
        left: 45px;
    }

    #debugLabel {
        top: 30px;
        left: 25px;
        font-size: 11px;
        color: rgb(128, 128, 128);
    }
}

@media (min-width: 400px) and (max-width: 750px) {
    p {
        font-size: 1.4em;
    }

    #info-container {
        position: absolute;
        top: 5px;
        left: 5px;
    }

    .info-box {
        position: static;
        font-size: 0.7em;
    }

    #debugLabel {
        margin-top: 1px;
        color: rgb(128, 128, 128);
    }

    #name_input {
        max-width: 80%;
        font-size: 23px;
    }
}

@media (max-width: 399px) {
    p {
        font-size: 1.2em;
    }

    #info-container {
        position: absolute;
        top: 5px;
        left: 5px;
    }

    .info-box {
        font-size: 0.7em;
        position: static;
    }

    #debugLabel {
        margin-top: 1px;
        color: rgb(128, 128, 128);
    }

    #name_input {
        max-width: 80%;
        font-size: 20px;
    }
}
    